.tg-container-with-sider {
  display: flex;
  gap: 10px;
  height: 100%;

  .tg-container-with-sider--main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    flex: auto;
  }

  .tg-container-with-sider--sider {
    width: 320px;
    flex: none;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
