@import '@/assets/styles/theme.scss';

.bnm-application-records-container {
  margin: 0 16px 16px;
  padding: 20px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  @include container-border-radius;

  .tg-container-content.tg-container-content {
    grid-template: 40px 1fr 32px / 1fr;
  }
}

.bnm-modal-descriptions {
  .ant-descriptions-item-label.ant-descriptions-item-label {
    width: 120px;
  }

  .ant-descriptions-row {
    &:first-child {
      .ant-descriptions-item-content {
        padding: 0;
      }
    }
  }
}
