.title-with-shape {
  display: flex;
  align-items: center;

  &.point:before {
    content: '·'
  }

  &.vertical:before {
    content: '|'
  }

  &.ring:before {
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid currentColor;
    border-radius: 50%;
    box-shadow: 0 0 4px 0 currentColor;
    margin: 0 6px;
  }
}
