#tg-profile-layout {
  overflow: hidden;
  height: 100%;

  .tg-sider {
    //background: #ffffff;
  }

  .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .tg-content {
    width: 1200px;
    margin: 24px auto;
    display: flex;
    gap: 10px;
  }

  .ant-layout {
    overflow: hidden;
  }

  .tg-menu {
    width: 210px;
    flex: none;
    background: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    color: #1f1f1f;
  }

  .tg-main {
    width: 650px;
  }

  .tg-sider {
    width: 320px;
    flex: none;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .shortcut-menu-container {
      flex: none;
    }

    .my-news-container {
      display: flex;
      flex-direction: column;
    }

    .not-login-title {
      font-size: 16px;
    }

    .shortcut-container {
      .icon-menu {
        margin: 10px 0;

        .list-icon {
          background-position: center top;
          background-size: auto 50px;
        }
      }
    }
  }
}
