.records-details-table {
  .ant-spin-container {
    width: 100%;
  }

  .ant-table-thead th {
    background: #f5f5f5;
  }
  .ant-table {
    height: auto !important;
  }
  .ant-table-footer {
    padding: 0;
    background: #ffffff;

    .receivable {
      padding: 16px;
      display: flex;

      span:last-child {
        margin-left: auto;
      }
    }

    .actually-received {
      padding: 16px;
      background: #fff7e6;
      display: flex;
      color: #fa8c16;

      span:last-child {
        margin-left: auto;
      }
    }
  }
}
