.bnm-rescind-contract-card-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;

  .ant-card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;

    &:hover {
      background: #ebf4fd;
      border: 1px solid #3595ff;
    }

    &:before {
      display: block;
      content: '';
      background: #f5f9ff var(--image) no-repeat center / 44px;
      width: 48px;
      height: 48px;
      border-radius: 10px;
      margin-left: 16px;
      box-shadow: 0 4px 24px -2px #f5f9ff;
    }

    .card-value {
      font-size: 26px;
      color: #1f1f1f;
    }

    .card-label {
      font-size: 14px;
      color: #8c8c8c;
      white-space: nowrap;

      .ant-tag {
        margin-left: 8px;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .bnm-rescind-contract-card-content {
    grid-gap: 10px;

    .ant-card {
      &:before {
        margin-left: 12px;
      }

      .card-value {
        font-size: 22px;
      }

      .card-label {
        font-size: 12px;

        .ant-tag {
          margin-left: 5px;
        }
      }
    }
  }
}
