.bnm-cs-by-complaint-type {
  display: flex;
  overflow-y: auto;

  .table {
    flex: auto;

    .ant-table-small {
      border-left: none;
      border-right: none;
      border-top: none;
    }
  }

  .chart {
    flex: none;
    width: 50%;
  }
}
