@import '@/assets/styles/theme.scss';

.bnm-invoice-statistics-container {
  margin: 0 16px 16px;
  overflow-y: auto;
  @include container-border-radius;

  .bnm-invoice-statistics-chart {
    height: 420px;
  }

  .bnm-invoice-statistics-table {
    margin-top: 16px;

    .bnm-invoice-statistics-content {}
  }
}

@media screen and (max-width: 1366px) {
  .bnm-invoice-statistics-container {
    margin: 0 10px 10px;
    gap: 15px;

    .bnm-invoice-statistics-chart {
      height: 42vh;
    }
  }
}
