@import '@/assets/styles/theme.scss';

.bnm-conferenceroom-statistics-container {
  margin: 0 16px 16px;
  padding: 20px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  @include container-border-radius;
}

.bnm-modal-conferenceroom-statistics-detail {
  .ant-modal-body {
    padding: 15px;
  }
}
