.box-content.bn-contract-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 100%;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;

  .ant-spin-spinning {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  .contract-item {
    width: calc((100% - 20px) / 2);

    .contract-item-title {
      background: url('./assets/images/title-icon.png') no-repeat center left 20px,
      url('./assets/images/title-bg.png') no-repeat center right 20px;
      background-size: 32px, auto 100%;
      background-color: #f2f7fc;
      border-bottom: 0;
      padding-left: 65px;

      &:before {
        display: none;
      }
    }

    .contract-item-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      flex: none;

      .ant-descriptions-item {
        display: flex;

        & > span:first-child {
          width: 70px;
          flex: none;
          color: #8c8c8c;
        }

        & > span:last-child {
          color: #595959;
          flex: auto;

          .ant-space {
            display: flex;
            flex-wrap: wrap;

            .ant-btn {
              padding: 0 12px;
              margin-bottom: 10px;

              &.preview {
                color: #007aff;

                path {
                  transition: all 0.3s;
                  fill: none;
                  stroke: #007aff;
                }

                &:hover {
                  color: #ffffff;
                  background: #3595ff !important;

                  path {
                    fill: none;
                    stroke: #ffffff;
                  }
                }
              }
            }
          }
        }
      }

      .contract-status {
        border: 1px solid #f0f0f0;
        border-radius: 2px;
        color: #8c8c8c;
        padding: 6px 20px 4px 40px;
        background: #fafafa url(./assets/images/status.png) no-repeat center left 20px / auto 14px;
      }

      .ant-descriptions-item-content {
        .ant-alert-warning {
          background-color: #fafafa;
          border-color: #f0f0f0;
          margin: 10px 0;
          padding: 5px 15px 5px 37px;
        }

        .ant-alert-warning .ant-alert-icon {
          color: #d3d3d3;
          top: 5px;
        }

        .ant-alert-message {
          color: #8c8c8c;
          font-size: 12px;
        }
      }
    }
  }
}
