.tg-container.qr-code-container > .tg-container-content .tg-container-table-container {
  border-top: none;
  // background: #f3f5f8;
}

.Tips {
  padding: 20px 0;
  text-align: center;
  p {
    margin-top: 15px;
  }
}
