.bnm-dc-templates-edit {
  .ant-form-item-label.ant-form-item-label {
    width: 90px;
  }
}

.data-collection-item-table-container {
  .plus-btn {
    margin-left: 6px;
  }

  .item-table {
    .ant-table-placeholder {
      display: none;
    }
  }
}
