.bnm-questionnaire-templates-edit {
  .ant-form-item-label.ant-form-item-label {
    width: 90px;
  }
}

.questionnaire-item-table-container {
  .plus-btn {
    margin-left: 6px;
  }

  .questionnaire-item-table {
    .ant-table-placeholder {
      display: none;
    }
  }
}
