.bnm-select-business-form {
  width: 720px;
  margin: auto;

  .business-info-selected {
    background: #f2f7fc;
    border: 1px solid #9bcbff;
    border-radius: 2px;
    padding: 10px 10px 10px 40px;
    margin-bottom: 0;

    li {
      line-height: 24px;
      color: #8c8c8c;

      &::marker {
        color: #007aff;
      }

      span {
        color: #434343;
      }
    }
  }

  .ant-checkbox-group.industry {
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
  }

  .ant-checkbox-wrapper {
    margin-left: 0;
  }
}
