.pe-console-overview {
  flex: 1 1;
  min-height: 206px;

  .box-content.pe-console-overview-content {
    display: flex;
    background: none;
    padding: 0;
    gap: 32px;

    .tg-chart-container {
      flex: 1;
      background: #ffffff;
    }
  }
}
