#tg-responsive-layout {
  overflow: hidden;
  height: 100%;

  .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .tg-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }

  .ant-layout {
    overflow: hidden;
  }
}
