@import '@/assets/styles/theme.scss';

.bnm-businesses-details-container.bnm-businesses-details-container {
  padding: 0 20px 20px;
  gap: 16px;

  .bnm-businesses-details-sider-container.bnm-businesses-details-sider-container {
    width: 300px;
    overflow: auto;

    .bnm-businesses-details-sider {
      display: flex;
      gap: 16px;
      flex-direction: column;

      .tg-universal-box {
        @include container-border-radius;

        .box-content {
          padding: 20px 24px;
        }

        .ant-descriptions-item-label {
          width: 100px;
        }
      }
      .img {
        width: 150px;
        max-height: 150px;
      }
    }
  }

  .bnm-businesses-details-content-container {
    background: #ffffff;
    padding: 20px;
  }
}
