@import '@/assets/styles/theme.scss';

.bnm-conferenceroom-subscribe-container {
  margin: 0 16px 16px;
  padding: 20px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  @include container-border-radius;
}
.bnm-modal-conferenceroom-subscribe {
  .ant-modal-body {
    .ant-form-item {
      display: flex;
      .ant-form-item-label {
        width: 100px;
        flex-shrink: 0;
      }
      .ant-form-item-control-wrapper {
        flex-grow: 1;
      }
    }
    .ant-table-wrapper .ant-table {
      height: auto;
    }
  }
}
