.tg-businesses-container {
  height: 100%;

  .anticon.caret-down {
    color: #1890ff;
    cursor: pointer;
    margin-left: 4px;
  }
}

.businesses-short-message-modal {
  .ant-form-item-label.ant-form-item-label {
    width: 100px;
  }
}
