@import '@/assets/styles/theme.scss';

.bnm-park-investment-container {
  margin: 0 16px 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 18px;
  overflow: hidden;
  @include container-border-radius;

  .card-container {
    display: grid;
    grid-template: 94px / repeat(6, 1fr);
    grid-gap: 16px;
    flex: none;

    .ant-card {
      background: #ffffff;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
      border: 1px solid #ffffff;

      &:hover {
        background: #ebf4fd;
        border: 1px solid #3595ff;
      }

      .card-label {
        font-size: 12px;
        font-weight: 400;
        color: #8c8c8c;
      }

      .card-value {
        font-size: 24px;
        font-weight: 700;
        color: #1f1f1f;
        display: flex;
        align-items: center;

        &:after {
          content: '';
          background: rgb(var(--theme-color)) var(--image) no-repeat center / 16px;
          width: 24px;
          height: 24px;
          border-radius: 8px;
          box-shadow: 0 4px 24px -2px rgba(var(--theme-color), .6);
          margin-left: auto;
        }
      }
    }
  }

  .bnm-park-investment-content {
    flex: auto;
    height: 0;
    background: #ffffff;
    padding: 20px;
  }
}

.bnm-form-grid.bnm-form-assign-leads .ant-form-item-label {
  width: 80px;
}
