.bn-parknews-detail-content {
  .bn-parknews-detail-title {
    margin-bottom: 15px;
    color: #999;
  }
  .bn-parknews-detail-html {
    line-height: 1.6em;
    img {
      max-width: 100%;
    }
  }
}
