@import '@/assets/styles/theme.scss';

.fe-console {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  height: 100%;

  .fe-console-title-container.fe-console-title-container {
    @include container-border-radius;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  }

  .fe-console-content {
    gap: 16px;

    .fe-console-sider {
      width: 390px;
    }

    .fe-console-main {
      background: #ffffff;
      height: 100%;
      @include container-border-radius;

      .fe-console-floor-container {
        width: 82px;
        padding: 32px 10px;
      }
    }
  }
}

.fe-console-details {
  .imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    img {
      width: 64px;
      height: 64px;
    }
  }
}
