@import '@/assets/styles/theme.scss';

.bnm-indicator-statistics-container {
  margin: 0 16px 16px;
  gap: 16px;

  .tg-container-with-sider--sider {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
    @include container-border-radius;

    .bnm-indicator-statistics-sider {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .selects {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .list-select {
          //width: calc((100% - 10px) / 2);
          width: 100%;
          flex: none;
        }
      }

      .list {
        flex: auto;
        overflow-y: auto;

        .list-item {
          display: flex;
          align-items: center;
          padding: 16px 0;
          gap: 12px;
          cursor: pointer;
          transition: all 0.3s;

          span:first-child {
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background: #007aff;
            font-size: 14px;
            color: #ffffff;
            text-align: center;
            line-height: 20px;
          }

          span:last-child {
            font-size: 14px;
            font-weight: 500;
            color: #434343;

          }

          &:hover {
            background: #ebf4fd;
          }

          &.checked {
            background: #d4e8fb;
            padding-left: 10px;
          }
        }
      }
    }
  }

  .tg-container-with-sider--main {
    overflow-y: auto;

    .main-container {
      min-height: 300px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
      flex: auto;

      &.chart-container {
        flex: none;
      }

      .table-content-title {
        display: flex;
        align-items: center;
        width: 100%;

        .custom-button {
          margin-left: auto;
        }
      }
    }

    .chart-content {
      border: none;
      padding: 0 20px;
      height: auto;
      display: grid;
      grid-template: 40px 282px / repeat(2, 1fr);
      grid-column-gap: 30px;
      flex: none;

      .completed-quantity {
        font-size: 14px;
        color: #8c8c8c;
        flex: none;
        grid-column: span 2;
      }

      .tg-chart-container {
        padding-bottom: 20px;
      }
    }

    .table-content {
      padding: 0 20px;
      border: none;
      display: flex;
      flex-direction: column;

      .results-table {
        flex: auto;
      }

      .tg-pagination {
        height: 52px;
        padding: 10px 0;
        flex: none;
      }
    }
  }
}
