.pe-console-overview {
  flex: auto;

  .pe-console-overview-content {
    display: grid;
    grid-template: 1fr 80px / 70% 30%;
    background: none;
    padding: 0;
    row-gap: 32px;

    .overview-left {
      background: #ffffff;
      border-radius: 6px;
      min-height: 240px;

      .tooltip-name {
        padding-top: 10px;
        font-size: 12px;
        font-family: Source Han Sans SC, Source Han Sans SC-Normal, Microsoft YaHei, serif;
        color: rgba(52, 64, 84, 0.80);
        padding-left: 16px;
      }

      .tooltip-value {
        font-size: 12px;
        font-family: Source Han Sans SC, Source Han Sans SC-Normal, Microsoft YaHei, serif;
        color: #16b364;
        padding-left: 16px;
      }
    }

    .overview-right {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      & > * {
        height: 33.33%;
      }
    }

    .overview-bottom {
      grid-column: span 2;
      display: flex;
      gap: 16px;

      & > * {
        width: 25%;
        background: #ffffff;
        border-radius: 6px;
        border: none;
      }

      .ant-card-body {
        padding: 16px 12px;
        height: 100%;
        display: grid;
        grid-template: 24px 24px / 48px 1fr;
        column-gap: 12px;
        font-family: Source Han Sans SC, Source Han Sans SC-Normal, Microsoft Yahei, serif;
        color: #344054;
        font-size: 14px;

        &:before, &:after {
          content: unset;
        }

        .icon {
          grid-row: span 2;
          background: #edfcf2 no-repeat center / 24px;

          &.optometry {
            background-image: url('../images/optometry.png');
          }

          &.dental-caries {
            background-image: url('../images/dental-caries.png');
          }

          &.internal-medicine {
            background-image: url('../images/internal-medicine.png');
          }

          &.surgical {
            background-image: url('../images/surgical.png');
          }
        }

        p {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
