@import '@/assets/styles/theme.scss';
.imgCode {
  margin: 0 auto;
  height: 224px;
  display: block;
}
.Tips {
  padding: 20px 0;
  text-align: center;
  p {
    margin-top: 15px;
  }
}
.school-upload-file {
  min-height: 300px;
  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #454545;
    font-size: 18px;
    margin-bottom: 20px;
    .success {
      color: $primary-color;
    }
    .fail {
      color: $error-color;
    }
  }
  .import-succeeded {
    text-align: center;
    padding: 70px 20px 40px 20px;
  }
  .well {
    background-color: #f3f7f6;
    border-color: #dbe3ec;
    border-radius: 0;
    box-shadow: none;
    padding: 15px;
    p {
      margin: 5px 0;
    }
  }
}

@page {
  size: auto; /* auto is the initial value */
  margin: 0mm; /* this affects the margin in the printer settings */
}
