@import '@/assets/styles/theme.scss';

.signing-process-navigation {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;

  .navigation-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    .navigation-item {
      position: relative;
      display: flex;
      font-size: 14px;
      color: #ffffff;
      justify-content: center;
      align-items: center;
      height: 48px;
      width: 130px;
      margin-right: 24px;
      background: currentColor;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);

      &:first-child {
        @include container-border-radius(4px 0 0 4px);
      }

      &:last-child {
        @include container-border-radius(0 4px 4px 0);
      }

      &:not(:first-child):before {
        position: absolute;
        left: -24px;
        content: '';
        height: 0;
        width: 0;
        border-top: 24px solid currentColor;
        border-right: 0 solid currentColor;
        border-bottom: 24px solid currentColor;
        border-left: 24px solid transparent;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
      }

      &:not(:last-child):after {
        position: absolute;
        right: -48px;
        content: '';
        height: 0;
        width: 0;
        border-top: 24px solid transparent;
        border-right: 24px solid transparent;
        border-bottom: 24px solid transparent;
        border-left: 24px solid currentColor;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
      }

      .anticon {
        width: 24px;
        height: 24px;
        background: #9bcbff;
        border-radius: 12px;
        margin-right: 8px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      span {
        color: #8c8c8c;
      }

      &.checked {
        color: #007aff;

        .anticon {
          background: #ffffff;
        }

        span {
          color: #ffffff;
        }
      }
    }
  }
}
