.tg-universal-box {
  overflow: hidden;
  width: var(--box-width);
  height: auto;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  z-index: 10;

  &.show-shadow {
    box-shadow: 0 10px 32px 0 rgba(0, 62, 163, 0.1);
  }

  .box-title {
    position: relative;
    height: 64px;
    padding: 0 24px;
    line-height: 64px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #262626;
    flex: none;

    &.divider:before {
      position: absolute;
      content: '';
      left: 0;
      width: 2px;
      height: 16px;
      background: #007aff;
      border-radius: 0 2px 2px 0;
    }

    .ant-btn:not(.custom-button) {
      margin-left: auto;
      border: none;
      background: none;
    }
  }

  .box-content {
    flex: auto;
    padding: 24px;
    overflow: auto;
    height: 100%;
    border-top: 1px solid #d9d9d9;
    position: relative;

    &.flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
    }
    // .bn-container-spin {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   z-index: 100;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    // }
  }
}
