.repair-record-item {
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  padding: 16px;
  position: relative;

  .item-status {
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    width: 46px;
    background: var(--bgcolor);
    color: #ffffff;
    border-radius: 0 2px 2px 0;

    &:before {
      content: '';
      position: absolute;
      right: 46px;
      top: 0;
      background: var(--bgcolor);
      border-radius: 2px 0 0 2px;
      border-top: 10px solid var(--bgcolor);
      border-right: 5px solid var(--bgcolor);
      border-bottom: 10px solid #ffffff;
      border-left: 5px solid #ffffff;
    }
  }

  .item-title {
    font-size: 14px;
    font-weight: 700;
    color: #262626;
  }

  .item-desc {
    font-size: 12px;
    font-weight: 500;
    color: #8c8c8c;
    padding: 10px 0;
  }

  .item-images {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    img {
      width: 56px;
      height: 56px;
      border-radius: 2px;
      border: 1px solid #ededed;
    }
  }

  .item-process-info {
    background: #f2f7fc;
    padding: 8px;
    margin-top: 16px;

    .item-handler {
      font-size: 12px;
      font-weight: 500;
      color: #007aff;
    }

    .item-result {
      font-size: 12px;
      font-weight: 500;
      color: #8c8c8c;
      padding: 8px 0;
    }
  }

  .item-time {
    border-top: 1px solid #f0f0f0;
    font-size: 12px;
    font-weight: 500;
    color: #8c8c8c;
    padding-top: 10px;
    margin-top: 16px;

    span {
      margin-left: 8px;
    }
  }
}
