.directory-container {
  display: flex;
  gap: 16px;
}

.list-container {
  gap: 10px;

  &.icon-menu {
    .ant-list-item {
      margin-bottom: 0 !important;
    }
  }
}

.corporate-services {
  font-size: 20px;
  font-family: PingFang SC, serif;
  font-weight: 700;
  color: #000000;
  line-height: 40px;
}
