@import '@/assets/styles/theme.scss';

.bnm-my-reports-container {
  margin: 0 16px 16px;
  background: #ffffff;
  height: 100%;
  overflow: hidden;
  @include container-border-radius;

  .tg-universal-box {
    height: 100%;

    .box-content {
      height: 0;
    }
  }

  .ant-card-body {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 18px 24px;

    .btn {
      margin-top: 20px;
    }
  }

  .ant-spin {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
  }
}
