.icon-menu {
  .ant-list-item {
    margin-bottom: 0 !important;
  }
}

.list-icon {
  text-align: center;
  padding-top: 60px;
  cursor: pointer;
  background: no-repeat center top 15px / auto 42px;

  &.report-form {
    background-image: url(./images/report-form.png);
  }

  &.policy-declaration {
    background-image: url(./images/policy-declaration.png);
  }

  &.cor-info {
    background-image: url(./images/my-profile.png);
  }

  &.contract {
    background-image: url(./images/my-contract.png);
  }

  &.bill {
    background-image: url(./images/my-bill.png);
  }

  &.invoice {
    background-image: url(./images/my-invoice.png);
  }

  &.reservation {
    background-image: url(./images/meeting-room-reservation.png);
  }

  &.repair {
    background-image: url(./images/property-warranty.png);
  }

  &.complaint {
    background-image: url(./images/online-complaint.png);
  }

  &.log-out {
    background-image: url(./images/log-out.png);
  }

  &:hover {
    text-decoration: underline;
  }
}
