.box-content.bn-report-content {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .report-form {
    border-left: 4px solid #007aff;
    border-radius: 4px;
    padding: 24px 45px;
    background: #fafafa;
    display: flex;

    .content {
      flex: auto;

      .title {
        font-size: 16px;
        font-weight: 700;
        color: #262626;
        line-height: 30px;
      }

      .description {
        font-size: 14px;
        font-weight: 500;
        color: #8c8c8c;
        line-height: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .datetime {
        font-size: 14px;
        font-weight: 500;
        color: #bfbfbf;
        line-height: 30px;
        padding-left: 30px;

        background: url(./assets/images/datetime.png) no-repeat center left / 16px;
      }
    }

    .btns {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: none;

      .record {
        color: #ffffff;

        &:hover {
          border-color: currentColor;
        }
      }
    }

    &.record {
      border-color: #13c2c2;

      .btns {
        .record {
          background: #13c2c2;
        }
      }
    }
  }
}

.box-content.bn-report-form-content {

}

.box-content.bn-report-record-content {
  .btns {
    text-align: right;
    margin-top: 20px;
  }
}
