.directory-container {
  display: flex;
  gap: 16px;
}

.list-container {
  gap: 10px;

  &.icon-menu {
    .ant-list-item {
      margin-bottom: 0 !important;
    }
  }

  .list-serial-number {
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 16px;
    font-family: PingFang SC, serif;
    font-weight: 500;
    color: #ffffff;
    background: var(--theme-color);
    border-radius: 2px;
  }

  .list-text {
    flex: auto;
    font-size: 14px;
    font-family: PingFang SC, serif;
    font-weight: 500;
    color: #141414;
    line-height: 18px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .list-datetime {
    font-size: 12px;
    font-family: PingFang SC, serif;
    font-weight: 500;
    color: #bfbfbf;
    line-height: 18px;
  }

  .list-icon {
    text-align: center;
    padding-top: 60px;
    cursor: pointer;
    background: no-repeat center top 15px / auto 42px;

    &.report-form {
      background-image: url(../images/report-form.png);
    }

    &.policy-declaration {
      background-image: url(../images/policy-declaration.png);
    }

    &.my-profile {
      background-image: url(../images/my-profile.png);
    }

    &.my-contract {
      background-image: url(../images/my-contract.png);
    }

    &.my-bill {
      background-image: url(../images/my-bill.png);
    }

    &.my-invoice {
      background-image: url(../images/my-invoice.png);
    }

    &.meeting-room-reservation {
      background-image: url(../images/meeting-room-reservation.png);
    }

    &.property-warranty {
      background-image: url(../images/property-warranty.png);
    }

    &.online-complaint {
      background-image: url(../images/online-complaint.png);
    }

    &.log-out {
      background-image: url(../images/log-out.png);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.corporate-services {
  font-size: 20px;
  font-family: PingFang SC, serif;
  font-weight: 700;
  color: #000000;
  line-height: 40px;
}
