.tg-list-with-sub-title-container {
  width: 100%;

  .ant-list-items {
    .list-container {
      display: grid;
      grid-template: 22px 20px / 1fr auto;
      line-height: 24px;
      padding: 12px;
      transition: all 0.3s;

      &:hover {
        background: #fafafa;
      }

      .shape {
        font-size: 14px;
        color: #1f1f1f;

        &:before {
          font-size: 40px;
        }

        &.normal:before {
          color: #007aff;
        }

        &.todo:before {
          color: #73d13d;
        }

        &.doing:before {
          color: #ffc53d;
        }

        &.done:before {
          color: #d9d9d9;
        }

        &.failure:before {
          color: #f5222d;
        }

        &.done {
          .name {
            color: #bfbfbf;
          }
        }

        .name {
          padding: 0 4px;
        }

        .ant-tag {
          padding: 0;
          font-size: 14px;
          line-height: 14px;
          border-radius: unset;
        }
      }

      .date {
        font-size: 12px;
        color: #bfbfbf;
        padding-left: 24px;
      }

      .btns {
        grid-row: span 2;

        .status {
          margin-right: 10px;
        }
      }
    }
  }
}
