@import '@/assets/styles/theme.scss';

.bnm-contract-confirmation-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include container-border-radius;

  .box-content {
    border: none;
  }

  .bnm-contract-confirmation-title {
    span {
      font-size: 12px;
      font-weight: 500;
      color: #8c8c8c;
      margin-left: 10px;
    }
  }

  .bnm-contract-step-btns {
    display: flex;
    justify-content: center;
  }

  .bnm-contract-confirmation-table-wrapper {
    display: flex;

    .bnm-contract-confirmation-table {
      .ant-table-footer {
        background: #fff7e6;
        height: 46px;
        padding: 0 16px;

        .bnm-contract-confirmation-table-footer {
          color: #fa8c16;
          display: flex;
          align-items: center;
          height: 100%;

          span:last-child {
            margin-left: auto;
            font-weight: 700;
            font-size: 16px;
          }
        }
      }
    }
  }

  .bnm-contract-upload-files {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    .item {
      flex: auto;
      display: flex;
      height: 32px;
      align-items: center;
      gap: 10px;

      .ant-upload-list-item {
        margin-top: 0;
      }
    }
  }

  .bnm-contract-select-template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    .item {
      flex: auto;
      display: flex;
      height: 32px;
      align-items: center;

      & > span:last-child {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
      }

      .ant-upload-list-item {
        margin-top: 0;
      }
    }
  }
}

.bnm-preview-container-container {
  display: flex;
  width: 100%;

  .btn {
    margin-left: auto;
  }
}
