@import '@/assets/styles/theme.scss';

.park-status-main--main {
  margin: 32px 0 32px 32px;
  padding: 10px;
  overflow: auto;
  height: 100%;

  .ant-spin-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    height: 0;

    .bnm-meeting-room {
      width: calc((100% - 24px) / 2);
      @include container-border-radius;
      display: flex;
      transition: all 0.3s;
      padding: 18px;
      background: rgba(var(--color), 0.09);
      border-left: 3px solid rgb(var(--color));
      border-radius: 4px;
      align-items: flex-start;

      &:hover {
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: auto;
        color: #8c8c8c;
        font-size: 14px;

        .title {
          font-size: 24px;
          font-weight: 700;
          color: #1f1f1f;
          display: flex;
          align-items: center;

          .ant-tag {
            position: relative;
            background: rgb(var(--color));
            color: #ffffff;
            padding: 0 6px;
            font-family: BigruixianBlackGBV, serif;
            font-style: italic;
            font-weight: 100;
            font-size: 12px;
            border-radius: 0;
            pointer-events: none;
            user-select: none;
            margin-right: 20px;

            &:before {
              content: '';
              position: absolute;
              left: -9px;
              top: 0;
              border-radius: 2px 0 0 2px;
              border-top: 10px solid transparent;
              border-right: 5px solid rgb(var(--color));
              border-bottom: 10px solid rgb(var(--color));
              border-left: 5px solid transparent;
            }

            &:after {
              content: '';
              position: absolute;
              right: -9px;
              top: 0;
              border-radius: 0 2px 2px 0;
              border-top: 10px solid rgb(var(--color));
              border-right: 5px solid transparent;
              border-bottom: 10px solid transparent;
              border-left: 5px solid rgb(var(--color));
            }
          }
        }

        .name {
          margin-top: 13px;
        }

        .time {
          margin-top: 4px;
          line-height: 20px;
        }

        .bnm-meeting-room-btns {
          height: 60px;
          display: flex;
          align-items: center;
          gap: 10px;

          .ant-btn {
            color: rgb(var(--color));
            border-color: rgb(var(--color));

            &:hover {
              color: #ffffff;
              background-color: rgb(var(--color)) !important;
            }
          }
        }
      }

      .btn {
        width: 24px;
        flex: none;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-size: 24px;
        cursor: pointer;
        align-self: flex-end;
        border-radius: 2px;

        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  &.tile .ant-spin-container {
    height: 100%;
  }

  .park-status-empty {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
