@import '@/assets/styles/theme.scss';

.bnm-report-forms-container {
  margin: 0 16px 16px;
  padding: 20px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  @include container-border-radius;
}

.bnm-report-forms-edit {
  .ant-form-item-label.ant-form-item-label {
    width: 100px;
  }
}

.bnm-report-form-preview .ant-form-item-label {
  width: 100%;
  text-align: left;
  white-space: normal;
  line-height: 20px;
}
