@import '@/assets/styles/theme.scss';

.bnm-report-forms-container {
  margin: 0 16px 16px;
  padding: 20px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  @include container-border-radius;
}

.bnm-report-forms-edit {
  .ant-form-item-label.ant-form-item-label {
    width: 90px;
  }
}
