@import '@/assets/styles/theme.scss';

.bnm-teams-container {
  margin: 0 16px 16px;
  padding: 20px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  @include container-border-radius;
}

.bnm-team-edit-modal {
  .ant-modal-body {
    padding: 40px 50px 10px;
  }
}
