@import '@/assets/styles/theme.scss';

.bnm-fill-in-records-container {
  margin: 0 16px 16px;
  background: #ffffff;
  height: 100%;
  overflow: hidden;
  @include container-border-radius;

  .tg-universal-box {
    height: 100%;

    .bnm-fill-in-records-content {
      display: flex;
      flex-direction: column;

      .title {
        flex: none;
        font-size: 18px;
        height: 46px;
        line-height: 46px;
      }

      .btn {
        flex: none;
        height: 46px;
        line-height: 46px;
        text-align: center;
        padding: 20px 0;
      }
    }
  }
}
