@import '@/assets/styles/theme.scss';

.bnm-cancellation-review-from-finance-container {
  margin: 0 16px 16px;
  padding: 20px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  @include container-border-radius;
}

.bnm-cancellation-review-from-finance-descriptions {
  padding: 6px;
  background: #f2f7fc;
  border: 1px solid #9bcbff;
  border-radius: 2px;

  .ant-descriptions-item-label.ant-descriptions-item-label {
    color: #797979;
    width: 100px;
    text-align: right;
  }

  .ant-descriptions-item-content {
    font-weight: bolder;
  }

  .ant-descriptions-row {
    &:last-child {
      .ant-descriptions-item-label {
        font-size: 16px;
        color: red;
        line-height: 40px;
      }

      .ant-descriptions-item-content {
        font-size: 20px;
        color: red;
        line-height: 40px;
      }
    }
  }
}
