.bnm-fill-info-container {
  .bnm-fill-info-form {
    width: 820px;
    margin: auto;

    .fill-info-hatchery-container {
      display: flex;
      flex-direction: column;
      height: auto;

      .fill-info-hatchery-table {
        height: 300px;
        flex: auto;
      }

      .ant-btn {
        flex: none;
      }
    }

    .fill-info-amount-due-container {
      .fee-item {
        display: flex;
        gap: 10px;
        align-items: center;

        .ant-checkbox-wrapper {
          width: 120px;
          padding: 10px 0;
        }

        & > div {
          background: #f2f7fc;
          padding: 0 10px;
          height: 32px;
          margin: 6px 0;
          min-width: 170px;
          display: flex;
          align-items: center;

          span {
            &:first-child {
              color: #c0c0c0;
            }

            &:last-child {
              margin-left: 12px;
            }

            &.total {
              color: #fa8c16;
            }
          }

          .ant-select {
            width: 160px;
            margin-left: 12px;

            .ant-select-selection {
              background: none;
              border: none;
              outline: none;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
