html,
body,
#app {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
}

#app {
  font-family: PingFang SC, Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;

  // 可视化项目
  //width: 1920px;
  //height: 1080px;
  //overflow: hidden;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

@font-face {
  font-family: 'SourceHanSerifCN-Regular';
  src: url('../fonts/SourceHanSerifCN-Regular.otf');
  src: url('../fonts/SourceHanSerifCN-Regular.otf') format('woff'),
  url('../fonts/SourceHanSerifCN-Regular.otf') format('truetype'),
  url('../fonts/SourceHanSerifCN-Regular.otf') format('svg');
}

@font-face {
  font-family: 'PingFang SC';
  src: url('../fonts/PingFangSC.ttf');
  src: url('../fonts/PingFangSC.ttf') format('woff'),
  url('../fonts/PingFangSC.ttf') format('truetype'),
  url('../fonts/PingFangSC.ttf') format('svg');
}

.bn-search-form,
.tg-search-form {
  display: flex;

  .ant-form-item {
    flex: auto;
    display: flex;
    align-items: center;

    .ant-form-item-control-wrapper {
      width: 200px;
    }
  }
}

.bn-table,
.tg-table {
  overflow: hidden;
  border: none;

  .ant-table {
    border: 0 !important;
  }

  .operation-space {
    .ant-space-item {
      margin-right: 0 !important;
    }
  }
}

.ant-modal-wrap {
  .ant-modal-content {
    transform: var(--transform);
  }

  .ant-modal-body {
    overflow: auto;
    max-height: calc(90vh - 100px);
  }
}

// 定义滚动条高宽及背景高宽 分别对应横竖滚动条的尺寸
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

// 定义滚动条轨道内阴影 圆角
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(91, 91, 91, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

// 定义滑块内阴影 圆角
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 3px rgba(211, 211, 211, 0.3);
  background-color: #d3d3d3;
}
