html,
body,
#app {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
}

#app {
  font-family: PingFang SC, Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;

  // 可视化项目
  //width: 1920px;
  //height: 1080px;
  //overflow: hidden;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

@font-face {
  font-family: 'SourceHanSerifCN-Regular';
  src: url('../fonts/SourceHanSerifCN-Regular.otf');
  src: url('../fonts/SourceHanSerifCN-Regular.otf') format('woff'),
  url('../fonts/SourceHanSerifCN-Regular.otf') format('truetype'),
  url('../fonts/SourceHanSerifCN-Regular.otf') format('svg');
}

@font-face {
  font-family: 'PingFang SC';
  src: url('../fonts/PingFangSC.ttf');
  src: url('../fonts/PingFangSC.ttf') format('woff'),
  url('../fonts/PingFangSC.ttf') format('truetype'),
  url('../fonts/PingFangSC.ttf') format('svg');
}

@font-face {
  font-family: 'DOUYU';
  src: url('../fonts/douyuFont-2.otf');
  src: url('../fonts/douyuFont-2.otf') format('woff'),
  url('../fonts/douyuFont-2.otf') format('truetype'),
  url('../fonts/douyuFont-2.otf') format('svg');
}

@font-face {
  font-family: 'BigruixianBlackGBV';
  src: url('../fonts/BigruixianBlackGBV.TTF');
  src: url('../fonts/BigruixianBlackGBV.TTF') format('woff'),
  url('../fonts/BigruixianBlackGBV.TTF') format('truetype'),
  url('../fonts/BigruixianBlackGBV.TTF') format('svg');
}

.tg-inquiry {
  display: flex;

  .ant-form-item {
    flex: auto;
    display: flex;
    align-items: center;

    .ant-form-item-control-wrapper {
      width: 200px;

      .number-range {
        display: flex;

        .identifier {
          text-align: center;
          width: 30px;
        }
      }
    }
  }
}

.ant-table-wrapper {
  display: flex;
  overflow: hidden;
  border: none;
  flex: auto;

  .ant-table {
    flex: auto;
    height: 0;
    border: 0;

    .ant-table-header,
    .ant-table-body {
      overflow: auto !important;
    }

    .ant-table-header {
      background: #f2f7fc !important;
      height: 46px;
    }
  }

  .ant-spin-blur {
    overflow: unset;
  }

  .operation-space {
    .ant-space-item {
      margin-right: 0 !important;
    }
  }

  .bnm-table-img {
    width: 32px;
    height: 32px;
  }
}

.ant-descriptions {
  .ant-descriptions-item {
    display: flex;
    padding: 2px 0;

    .ant-descriptions-item-label {
      flex: none;
      font-size: 14px;
      color: #595959;
    }

    .ant-descriptions-item-content {
      font-size: 14px;
      color: #434343;
      flex: auto;
    }
  }
}

/********************************* 弹出框 *************************************/

.ant-modal-wrap {
  .ant-modal-content {
    transform: var(--transform);
  }

  .ant-modal-body {
    overflow: auto;
    max-height: calc(90vh - 200px);
    padding: 24px 70px 24px 50px;
  }
}

/************************************************************************************/

/********************************* 表单自定义栅格化 *************************************/
.bnm-form-grid {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;

  .ant-form-item {
    width: 100%;
    display: flex;

    .ant-form-item-label {
      width: 100px;
      flex: none;
    }

    .ant-form-item-control-wrapper {
      flex: auto;
    }

    &.half {
      width: calc((100% - 24px) / 2);
    }

    &.custom {
      display: flex;
      align-items: center;

      .ant-form-item-children {
        width: 100%;
        display: flex;
        column-gap: 24px;

        .ant-row {
          flex: auto;
        }

        .ant-form-item {
          margin-bottom: 0;
        }
      }
    }
  }
}

/**********************************************************************/

/*****************定义滚动条高宽及背景高宽 分别对应横竖滚动条的尺寸***********/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

// 定义滚动条轨道内阴影 圆角
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(91, 91, 91, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

// 定义滑块内阴影 圆角
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 3px rgba(211, 211, 211, 0.3);
  background-color: #d3d3d3;
}

/**********************************************************************/

/******************************* 可增减表格 ****************************/
.tg-multi-input {
  .multi-input-table {
    .ant-table {
      height: auto;
    }

    td {
      padding: 6px;
    }
  }
}

/**********************************************************************/

/******************************* 上图图片 ****************************/
.tg-upload-pic {
  //width: 100%;
  //display: flex;
  //flex-wrap: wrap;
}

/**********************************************************************/
