.bnm-business-configuration-container {
  margin: 0 16px 16px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  overflow-y: auto;

  .business-configuration-title {
    display: flex;
    align-items: center;

    .ant-btn {
      margin-left: auto;
    }
  }

  .business-configuration-item {
    width: calc((100% - 32px) / 3);
    background: #ffffff;
    padding: 20px 20px 28px;
  }
}
