.bnm-complaint-records-list {
  width: 100%;

  .ant-list-items {
    .list-container {
      display: flex;
      line-height: 24px;
      padding: 12px;
      transition: all 0.3s;
      align-items: center;
      gap: 4px;

      .items {
        flex: auto;
      }

      &:hover {
        background: #fafafa;
      }

      .normal,
      .normal:before {
        color: #007aff;
      }

      .todo,
      .todo:before {
        color: #73d13d;
      }

      .doing,
      .doing:before {
        color: #ffc53d;
      }

      .done,
      .done:before {
        color: #d9d9d9;
      }

      .label {
        color: #8c8c8c;
        padding: 0 4px;
      }

      .value {
        padding: 0 4px;
      }

      .ant-tag {
        padding: 2px 4px;
        font-size: 14px;
        line-height: 14px;
        border-radius: 4px;
        border-color: currentColor;
        margin-left: 6px;
      }

      .shape {
        width: 40px;
        height: 100%;
        font-size: 14px;
        color: #1f1f1f;

        &:before {
          font-size: 40px;
        }

        &.done {
          .value {
            color: #bfbfbf;
          }
        }
      }

      .item {
        color: #1f1f1f;
        padding-left: 10px;
      }

      .btns {
        flex: none;
      }
    }
  }
}
