.pending-student-container {
  display: flex;
  gap: 10px;

  .pending-student-card {
    .ant-card-body {
      display: flex;
      padding: 10px;
      width: 200px;
      align-items: center;

      .pending-student-info {
        p:first-child {
          font-weight: bolder;
        }

        p:last-child {
          font-size: 12px;
        }
      }

      .pending-student-btn {
        margin-left: auto;
      }
    }
  }
}
