@import '@/assets/styles/theme.scss';

.bnm-park-status {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  height: 100%;

  .park-status-title {
    display: flex;
    align-items: center;
    width: 100%;

    .park-status-btns {
      margin-left: auto;
      line-height: unset;
    }
  }

  .park-status-content {
    gap: 16px;

    .park-status-sider {
      width: 390px;

      .park-status-datetime-picker {
        height: 100%;
      }
    }

    .park-status-main {
      background: #ffffff;
      height: 100%;
      @include container-border-radius;

      .park-status-main--main {
        margin: 32px 0 15px 32px;
        padding-right: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        overflow: auto;
      }

      .park-status-floor-container {
        width: 82px;
        padding: 32px 10px;

        .park-status-main--floor {
          @include container-border-radius;
          width: 100%;
          border: 1px solid rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
          list-style: none;
          padding: 10px 0;
          display: flex;
          align-items: center;
          flex-direction: column;

          li {
            font-size: 14px;
            font-weight: 500;
            color: #1f1f1f;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            transition: all 0.3s;
            border-radius: 20px;

            &:hover {
              background: #007aff;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
